*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    width: 90%;
    height: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
    background-color: #00000020;
    border-radius: 20px;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box{
    position: relative;
    color: #fff;
    width: 500px;
}
.search-box .search__btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
}

.search-box lable{
    color: #fff;
}

.search-box fieldset {
    border-color: #fff !important;
}

.search-box input{
    padding-right: 40px;
    color: #fff;
}

.forecast{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
p{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;

}
